{% extends 'base.html.twig' %}

{% block title %}Habitats
{% endblock %}

{% block body %}
	<div class='container margin-top'>
		<h1>Habitats</h1>
		<div class='row justify-content-between'>
			<table class="table col-5">
				<tbody class='col-5'>
					<tr>
						<th>Propriétaire</th>
						<td>{{ habitat.proprio }}</td>
					</tr>
					<tr>
						<th>Id</th>
						<td>{{ habitat.id }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ habitat.titre }}</td>
					</tr>
					<tr>
						<th>Adresse</th>
						<td>{{ habitat.adresse }}</td>
					</tr>
					<tr>
						<th>Catégorie</th>
						<td>{{ habitat.categorie }}</td>
					</tr>
					<tr>
						<th>Image</th>
						<td>{{ habitat.image }}</td>

					</tr>
					<tr>
						<th>Note</th>
						<td>{{ habitat.note }}</td>
					</tr>
				</tbody>
			</table>
			<img src='{{habitat.image}}' class='col-5'>
		</div>
		<a href="{{ path('app_habitats_index') }}">back to list</a>

		<a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}">edit</a>

		{{ include('habitats/_delete_form.html.twig') }}
	</div>
{% endblock %}
